.speech{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #000;
}
.direction{
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    color:#000;
    background-color:#e6e6fa;
}
.name{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color:#000;
}
.direction:hover{
    background-color: #808080;
    color: rgb(255,255,255);
}
.HAR{
    color:green;
}
.LAFL{
    color:red;
}