.speech{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: #000;
}
.direction{
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    color:#000;
    background-color:#e6e6fa;
}
.name{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color:#000;
}
.direction:hover{
    background-color: #808080;
    color: rgb(255,255,255);
}
.HAR{
    color:green;
}
.LAFL{
    color:red;
}
table{
    border:solid 4px rgb(0, 102, 128);
    border-collapse: collapse;
    padding: 15px;   
}
th{
    margin:10px;
    border: solid 1px;
    padding:8px;
    text-align: center;   
}
td{
    margin: 10px;
    border: solid 1px;
    padding: 8px;
    text-align: center;  
}
tr:nth-child(even){
    background-color: rgb(168, 178, 32);
}
.name:hover{
    text-shadow: 2px 3px 5px royalblue;
    border: dotted 4px lightgray;
}